{% extends "base.html" %} {% block title %}Input{% endblock %} {% block content
%}
<h2 align="center">Hi {{ user.first_name}}! How was your day?</h2>
<form method="POST">
  <div class="form-group">
    <label for="date">Entry Date</label>
    <input
      type="date"
      class="form-control"
      id="date"
      name="date"
      placeholder="Enter date"
    />
  </div>
  <div class="form-group">
    <label for="sleep_start">Sleep Start Time</label>
    <input
      type="time"
      class="form-control"
      id="sleep_start"
      name="sleep_start"
      placeholder="Enter the time you slept"
    />
  </div>
  <div class="form-group">
    <label for="sleep_end">Sleep End Time</label>
    <input
      type="time"
      class="form-control"
      id="sleep_end"
      name="sleep_end"
      placeholder="Enter the time you woke up"
    />
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="weight"
      name="weight"
      placeholder="Enter your weight"
    />
  </div>
  <div class="form-row">
    <div class="col">
      <input type="radio" id="did_exercise" name="exercise" value="did_exercise">
      <label for="did_exercise">Exercised</label><br>
      <input type="radio" id="skipped_exercise" name="exercise" value="skipped_exercise">
      <label for="skipped_exercise">Skipped exercise</label>
    </div>
    <div class="col">
      <input type="radio" id="ate_breakfast" name="breakfast" value="ate_breakfast">
      <label for="ate_breakfast">Ate breakfast</label><br>
      <input type="radio" id="skipped_breakfast" name="breakfast" value="skipped_breakfast">
      <label for="skipped_breakfast">Skipped breakfast</label>
    </div>
    <div class="col">
      <input type="radio" id="ate_lunch" name="lunch" value="ate_lunch">
      <label for="ate_lunch">Ate lunch</label><br>
      <input type="radio" id="skipped_lunch" name="lunch" value="skipped_lunch">
      <label for="skipped_lunch">Skipped lunch</label>
    </div>
    <div class="col">
      <input type="radio" id="ate_dinner" name="dinner" value="ate_dinner">
      <label for="ate_dinner">Ate dinner</label><br>
      <input type="radio" id="skipped_dinner" name="dinner" value="skipped_dinner">
      <label for="skipped_dinner">Skipped dinner</label>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Input Data</button>
  </div>
</form>
{% endblock %}